<a href="#" class="nav-trigger">Menu</a>
<nav class="nav-main" role="navigation">
    <ul class="nav-items">
    {% for item in menu.get_items %}
        <li class="nav-item {{item.classes | join(' ')}}">
            <a class="nav-item-link" href="{{item.link}}">{{item.title}}</a>
        </li>
    {% endfor %}
    </ul>
</nav><!-- /.nav-main -->
